#page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  gap: 10px;
}

.signUpDivMain,
.searchDivMain,
.loginDivMain {
  display: flex;
  gap: 10%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: 10%;
  padding: 10%;
  transition: 0.7s;
}
.signUpDivMain:hover,
.searchDivMain:hover,
.loginDivMain:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.signUpDivLeft,
.loginDivLeft,
.signUpDivRight,
.loginDivRight {
  display: flex;
  flex-direction: column;
  width: 100%;
}


#cabinet {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cabinetShelf {
  display: flex;
}

.cabinetBottle {
  border: 3px grey;
  border-radius: 5px;
  height: 5rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  margin: 2px;
}

.bottleName {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.bottleVolume {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}