#page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  gap: 10px;
}

.searchDivMain {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 10%;
  transition: 0.7s;
  animation: fadeIn 0.7s;
}
.loginDivMain,
.signUpDivMain {
  display: flex;
  gap: 10%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: 10%;
  padding: 10%;
  transition: 0.7s;
  animation: fadeIn 0.7s;
}
.signUpDivMain:hover,
.searchDivMain:hover,
.loginDivMain:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.signUpDivLeft,
.loginDivLeft,
.signUpDivRight,
.loginDivRight {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#buttonHeader {
  display: flex;
}

#cabinet {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cabinetBottle {
  border: 3px solid black;
  border-radius: 5px;
  height: 20rem;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2px;
  align-content: center;
  
}
.bottleImage {
  max-height: 15rem;
  
}

.bottleName {
  border: 2px solid black;
  font-size: 16;
  font-weight: 600;
  text-transform: uppercase;
}

.bottleVolume {
  border: 2px solid black;
  font-size: 16;
  font-weight: 600;
  text-transform: uppercase;
}

.bottleButton {
  border: 1px solid red;
  height: fit-content;
  width: fit-content;
  font-size: 12;
  text-transform: uppercase;
}

.bottleLabel {
  align-content: bottom;
}

#divAddForm,
.logOutReconfirm {
  position: absolute;
  z-index: 5;
  top: 30%;
  left: 30%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  animation: fadeIn 0.7s;
}
.recipeBook {
  position: absolute;
  z-index: 5;
  top: 10%;
  left: 10%;
  right: 10%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  animation: fadeIn 0.7s;
}

.selectCocktailBtn {
  background-color: pink;
}

.recipeBook {
  border: 3px solid black;
}

.recipeTitle {
  font: 26;
  font-weight: bold;
}



.containerPopup {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

