#page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  gap: 10px;
}

.signUpDivMain,
.searchDivMain,
.loginDivMain {
  display: flex;
  gap: 20px;
}
.signUpDivLeft,
.loginDivLeft,
.signUpDivRight,
.loginDivRight {
  display: flex;
  flex-direction: column;
}
